@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
