* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $gray;
  font-family: "Montserrat-Regular";
  font-size: 1.6rem;
  color: $black;
  line-height: 1.3;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
