// FONTS
$font-mont-regular: "Montserrat-Regular", sans-serif;
$font-mont-semibold: "Montserrat-SemiBold", sans-serif;

$font-pop-semibold: "Poppins-SemiBold", sans-serif;
$font-pop-bold: "Poppins-Bold", sans-serif;

// COLORS
$gray: #f2f2f2;
$gray-light: #fbfbfb;
$gray-dark: #bdbdbd;
$black: #333333;
$black-light: #4f4f4f;
$black-light-2: #828282;

$purple: #bb6bd9;
$yellow: #f2c94c;
$green: #6fcf97;
$red: #eb5757;

$blue-dark: #2980b9;
$blue-light: #3498db;

$blue-fb: #2f80ed;
$blue-twitter: #56ccf2;
$purple-ig: #bb6bd9;
