.case {
  &__heading {
    display: flex;
    align-items: center;
    padding: 3.6rem 0;

    &--title {
      margin-right: 1.6rem;
      font-family: $font-pop-semibold;
    }

    p {
      color: $black-light-2;
    }
  }

  .row {
    margin-bottom: 4.8rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 255px;
    border-radius: 1.6rem;
    color: $gray;
    transition: all 0.4s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba($color: #505050, $alpha: 0.2);
      transform: scale(1.05);
    }

    h2 {
      font-size: 3.6rem;
      font-family: $font-pop-semibold;
    }

    p {
      font-size: 1.6rem;
    }

    &--confirmed {
      background-color: $purple;
    }

    &--treatment {
      background-color: $yellow;
    }

    &--recover {
      background-color: $green;
    }

    &--died {
      background-color: $red;
    }
  }
}

.region {
  margin-bottom: 4.8rem;

  &__heading {
    display: flex;
    align-items: center;
    padding: 3.6rem 0;

    &--title {
      margin-right: 1.6rem;
      font-family: $font-pop-semibold;
    }

    p {
      color: $black-light-2;
    }
  }

  &__search {
    display: flex;
    align-items: center;

    &--input {
      min-width: 83.5rem;
      height: 6.4rem;
      border: 0;
      padding-left: 4.8rem;
      font-family: $font-mont-regular;
      border-radius: 1.6rem;
      background-color: $gray-light;
      transition: box-shadow ease-in-out 0.4s;
    }

    &--input:focus {
      outline: 0;
      box-shadow: 0px 8px 24px 4px rgba(222, 222, 222, 0.35);
    }

    &--btn {
      border: 0;
      background-color: $blue-light;
      min-width: 7.2rem;
      height: 4.8rem;
      margin-left: -8rem;
      border-radius: 1.6rem;
      cursor: pointer;
      transition: background ease-in-out 0.6s;
    }

    &--btn:hover {
      background-color: $blue-dark;
    }
  }

  &__cardContainer {
    margin-top: 2.4rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 255px;
    border-radius: 1.6rem;
    color: $gray;
    transition: all 0.4s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba($color: #505050, $alpha: 0.2);
      transform: scale(1.05);
    }

    h2 {
      font-size: 3.6rem;
      font-family: $font-pop-semibold;
    }

    p {
      font-size: 1.6rem;
    }

    &--confirmed {
      background-color: $purple;
    }

    &--recover {
      background-color: $green;
    }

    &--died {
      background-color: $red;
    }

    &--heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 2.4rem;

      h3 {
        font-size: 2.4rem;
        color: $black-light;
        font-family: $font-pop-semibold;
        margin-right: 1.6rem;
      }

      p {
        color: $black-light-2;
      }
    }

    &--text {
      display: flex;
      align-items: center;
    }

    &--close {
      margin-top: 4px;
      margin-left: 1.6rem;
      cursor: pointer;
    }
  }

  &__cardSide {
    padding: 2.4rem;
    background-color: $gray-light;
    border-radius: 1.6rem;

    &--heading {
      h2 {
        font-family: $font-pop-semibold;
        font-size: 2rem;
        color: $black;
      }
    }

    &--content {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 2.4rem;
    }

    &--img {
      margin-right: 1.6rem;

      img {
        height: 8rem;
      }
    }

    &--text {
      h4 {
        font-family: $font-pop-semibold;
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $black-light;
      }

      p {
        font-size: 1.4rem;
        color: #828282;
      }
    }
  }

  &__proContainer {
    list-style-type: none;
    min-width: 82.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.4rem;
  }

  &__province {
    background-color: $green;
    padding: 1.6rem 2.4rem;
    margin-right: 2.4rem;
    margin-bottom: 1.6rem;
    font-size: 14px;
    font-family: $font-mont-semibold;
    color: $gray;
    border-radius: 1.6rem;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;

    &:nth-child(14) {
      margin-right: 0;
    }

    &:hover {
      background-color: $green-dark;
    }
  }
}

.socmed {
  &__heading {
    display: flex;
    align-items: center;

    &--title {
      font-family: $font-pop-semibold;
      margin-right: 1.6rem;
    }

    p {
      color: $black-light-2;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.6rem;
    height: 6.4rem;
    color: $gray;
    font-size: 1.4rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 10px 5px rgba($color: #505050, $alpha: 0.2);
      transform: scale(1.01);
    }

    &--icon {
      margin-right: 1.6rem;
    }

    &--facebook {
      background-color: $blue-fb;
    }

    &--twitter {
      background-color: $blue-twitter;
    }

    &--instagram {
      background-color: $purple-ig;
    }
  }

  .row {
    margin: 4.8rem 0 6.4rem 0;
  }
}

.chat {
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2.4rem;
  right: 2.4rem;
  cursor: pointer;

  &__icoContainer {
    width: 6.4rem;
    height: 6.4rem;
    background-color: $blue-medium;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    box-shadow: -2px 4px 16px -8px rgb(223, 222, 223);
    transition: all 0.3s ease-in-out;
  }

  &__icoContainer:hover {
    background-color: $blue-light;
    box-shadow: 0px 8px 16px -8px rgba(143, 123, 143, 1);
  }
}

.room {
  &__heading {
    display: flex;
    align-items: center;
    padding: 3.6rem 0;

    &--title {
      margin-right: 1.6rem;
      font-family: $font-pop-semibold;
    }

    p {
      color: $black-light-2;
    }
  }

  .row {
    margin-bottom: 4.8rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 255px;
    border-radius: 1.6rem;
    color: $gray;
    transition: all 0.4s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba($color: #505050, $alpha: 0.2);
      transform: scale(1.05);
    }

    h2 {
      font-size: 3.6rem;
      font-family: $font-pop-semibold;
    }

    p {
      font-size: 1.6rem;
    }

    &--confirmed {
      background-color: $purple;
    }

    &--treatment {
      background-color: $yellow;
    }

    &--recover {
      background-color: $green;
    }

    &--died {
      background-color: $red;
    }
  }
}

.chatting {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.8rem;

  &__cardContainer {
    display: flex;
    flex-direction: row;
    background-color: $gray-light;
    border-radius: 1.6rem;
    padding: 1.6rem 3.4rem 2.4rem 3.2rem;
    max-width: 445px;
    height: auto;
    margin-bottom: 1.6rem;
    position: relative;
  }

  &__heading {
    display: flex;
    align-items: center;
    padding: 3.6rem 0;

    &--title {
      margin-right: 1.6rem;
      font-family: $font-pop-semibold;
    }

    p {
      color: $black-light-2;
    }
  }

  &__image {
    max-width: 4.8rem;
    max-height: 4.8rem;
    margin-top: 1.6rem;
    img {
      max-width: inherit;
    }
  }

  &__text {
    margin-left: 3.2rem;
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--name {
      font-family: $font-pop-semibold;
      font-size: 2rem;
      margin-right: 8px;
    }

    &--time {
      font-size: 14px;
    }
  }

  &__content {
    margin-top: 8px;
    font-size: 1.6rem;
  }

  &--sender,
  &--receiver {
    height: 100%;

    &::before {
      content: "";
      width: 8px;
      height: inherit;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 1.6rem;
      overflow-y: hidden;
    }
  }

  &--sender {
    align-self: flex-end;

    &::before {
      background-color: $blue-light;
    }
  }

  &--receiver {
    align-self: flex-start;

    &::before {
      background-color: $green;
      overflow-y: hidden;
    }
  }
}
